<h2 mat-dialog-title>{{ data ? 'Edit User' : 'Add User' }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="user.name">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-flat-button color="primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
